p{
  color:#54ccfa;
}
div{
  color:#922056;
}
h1{
  color:#138213;
}
h2{
  color:#c23bad;
}
h3{
  color:#feef10;
}
h4{
  color:#AA00FF;
}
h5{
  color:#651FFF;
}
h6{
  color:#FF1744;
}
.work-practic{
  color:#FF8F00;
}
.div1{
  color:#FF8F00;
}
.div2{
  color:#138213;
}
.div3{
  color:#FF1744;
}
.fork{
  color:#feef10;
}
.clone{
  color:#651FFF;
}
.features{
   color:#FF8F00;
}
